@font-face {
    font-family: "League";
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
        url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
        url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Univers";
  src: url('../fonts/UNIVERSL_5.ttf') format("truetype");
}

body {
  margin: 0px;
}

p.title {
  text-transform: uppercase;
  color: white;
  font-family: "League", Verdana, Tahoma;
  font-size: 300%;
  line-height: 100%;
  opacity: 0.95;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
  margin:0;
}

p.subtitle, p.subtitle a {
  color: white;
  font-family: "Univers", Verdana, Tahoma;
  font-size: 110%;
  line-height: 100%;
  opacity: 0.95;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}

p.subtitle a {
  text-decoration: underline;
}

.text {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 10%;
}

.logo {
  margin-left: 20px;
  margin-top: 10px;
  width: 11%;

}

@media only screen and (max-width: 760px) {
  .text {
    font-size: 0.5em;
  }

  body{
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
