.picture-background {
    background-color: #161726;
    background-image: url(../images/big-background-2014.jpg);
    background-position: center 30%;
    background-repeat: no-repeat;
    padding: 0px;
    height: 250px;

    #countdown {
        height: 6em;

        .countdown-title {
            background-image: none;
            height: 20px;
        }

        .social-icons {
            bottom: -45px;
        }
    }

}

h1.site-header-logo {

    top: -15px;
    left: -10px;

    img {
        width: 178px;
    }
}
