.picture-background {
    background-color: #161726;
    background-image: url(../images/big-background.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    padding: 0px;

    #countdown {
        height: 6em;

        .countdown-title {
            background-image: none;
            height: 20px;
        }

        .social-icons {
            bottom: -45px;
        }
    }

}

h1.site-header-logo { 
    
    top: 9px;
    left: 8px;
    
    img {
        width: 178px;
    }
}
