div.sb-image {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

#container .breadcrumb .breadcrumb-current {
  display: inline;
  color: #7f7f7f;
}

.slider-previous-arrow, .slider-next-arrow {
  left: -41px; }

.slider-next-arrow {
  left: auto;
  right: -41px; }

.slider-container {
  max-width: 630px;
  border: 15px solid #fff;
  background-color: black; }


.slider {
  border: 0px;
  list-style: none; }

.slider-item img {
    width: 100%;
    height: auto;
}

.site-header {
    z-index: 500;
}