div.sb-image {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

#container .breadcrumb .breadcrumb-current {
  display: inline;
  color: #7f7f7f;
}

.slider-previous-arrow, .slider-next-arrow {
  left: -40px; }

.slider-next-arrow {
  left: auto;
  right: -40px; }

.slider-container {
  border: 1em solid #fff; }


.slider {
  border: 0px;
  list-style: none; }

.slider-item {
    display: none;
    &:first-child {
        display: inline; }
}