/* 
    Document   : forms
    Created on : Jun 30, 2013, 8:38:18 PM
    Author     : Tom Naessens 
 * Tom.Naessens@UGent.be 
 * 3de Bachelor Informatica
 * Universiteit Gent
 *
    Description:
        Purpose of the stylesheet follows.
*/

.form-item label {
  width: 235px;
  text-align: right;
}

.webform-container-inline label {
  display: inline-block;
  width: 235px;
  text-align: right;
}

.form-item .form-checkboxes {
  margin-left: 255px;
  margin-top: -27px;
}

.single-checkbox-wrapper {
  margin-left: -255px;
  margin-top: 27px;
}